<div class="follow-section">
    <h5 class="fw-bold">Who to follow</h5>
    <ul class="list-unstyled">
      <li *ngFor="let user of suggestedUsers" class="mb-3" style="display: flex;">
        <a (click)="goToProfile(user.id)" class="nav-link text-white">
          <img [src]="user.profilePicture" alt="{{ user.userName }}" >
          <div>
            <p class="mb-0 fw-bold">{{ user.userName }}</p>
            <span class="text-muted">{{ user.email }}</span>
          </div>

        
        </a>

        <button 
        [ngClass]="isFollowed(user.id) ? 'btn-unfollow fw-bold ms-auto' : 'btn-follow fw-bold ms-auto'"
        (click)="checkFollow(user.id)">
        <span>{{ isFollowed(user.id) ? 'Unfollow' : 'Follow' }}</span>
      </button>

      </li>
      
    </ul>
  </div>
  