<div class="grid-container">
  <div class="grid-item">
    <app-side-bar 
       
        *ngIf="routePart.toLowerCase() !== 'signup' && routePart.toLowerCase() !== 'login' else logo">
    </app-side-bar>

    <ng-template #logo>
      <img class="auth-logo" src="assets/X_logo.jpg">
    </ng-template>
  </div>

  <div class="grid-item router" style="max-width: 600px;">
    <router-outlet></router-outlet> <!-- Main content area -->
  </div>
    
  <div class="grid-item" *ngIf="routePart.toLowerCase() !== 'signup' && routePart.toLowerCase() !== 'login'">
    <div class="cus-margin">
      <app-trends ></app-trends>
    </div>
    <app-suggested-to-follow  ></app-suggested-to-follow>
  </div>
</div>
