<!-- app.component.html -->
<div class="grid-container">
    <div class="grid-item " >
      <app-side-bar></app-side-bar>
    </div>

    <div class="grid-item router" style="max-width: 600px;">
       
      <router-outlet></router-outlet> <!-- Main content area -->
        
      
    </div>
      
    <div class="grid-item">
      
      <div class="cus-margin">
        <app-trends ></app-trends>
      </div>
      

        <app-suggested-to-follow  [suggestedUsers]="users"/>

      
    </div>

  </div>
  