<div class="signup-container">
  
    <!-- Right Side (Signup Form) -->
    <div class="right-panel">
      <h2>Join Twitter today</h2>

      <form (ngSubmit)="onSubmit()">
        <div *ngIf="errors && !errors['Email'] && !errors['UserName'] && !errors['Password']">
          <ul>
            <li *ngFor="let errorKey of (errors | keyvalue)" style="color: red; font:bold">{{ errorKey.value }}</li>
          </ul>
        </div>
        
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" [(ngModel)]="userForRegistration.UserName" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="userForRegistration.Email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="userForRegistration.Password" required />
        </div>
        <button type="submit" class="signup-button">Sign Up</button>
      </form>
      <p class="login-link">Already have an account? <a (click)="goToLogIn()">Log In</a></p>
    </div>
  </div>
  