<div class="sidebar d-flex flex-column p-3 text-white bg-black min-vh-100">
    <a href="/" class="d-flex justify-content-center align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="cus-mar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="25" fill="white">
            <path d="M23.5 0h-3.5l-8.08 9.67l-8.42-9.67h-3.5l8.88 10.13l-8.88 10.37h3.5l8.44-9.65l8.08 9.65h3.5l-8.88-10.35z"/>
        </svg>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="home" class="nav-link text-white" aria-current="page">
                <i class="fas fa-home fa-fw me-2"></i>
                <span>Home</span> <!-- Add span for text -->
            </a>
        </li>
        <li>
            <a (click)="goToProfile(userId)"   class="nav-link text-white">
                <i class="fas fa-user fa-fw me-2"></i>
                <span>Profile</span>
            </a>
        </li>
         
        <li>
            <a class="nav-link text-white position-relative" (click)="viewNotifications()">
              <i class="fas fa-bell fa-fw me-2"></i>
              <span>Notifications</span>
              <!-- Notification Counter -->
              <span *ngIf="notificationCount > 0" class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle">
                {{ notificationCount }}
              </span>
            </a>
          </li>
          

        <li>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal3">Post</button>
           
        </li>
    </ul>
    <hr>
    <div class="dropdown">
      
      
        <i class="fas fa-ellipsis-v" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"></i>

        <div style="display: flex; cursor: pointer;" (click)="goToProfile(this.userId)">
          <div>
            <img  [src]="user?.ProfilePicture ? user.ProfilePicture : 'assets/default.avif'" alt="Profile" class="profile-img">
           
          </div>
         <div style="margin-left: 5px">
          {{this.user?.UserName}}
          {{this.user?.Email}}
         </div>
        
        </div>
      
       
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow cus-background" aria-labelledby="dropdownUser1">
      
          <li><a class="dropdown-item"(click)="goToProfile(userId)">Profile</a></li>
          
          <li><a class="dropdown-item" (click)="logOut()">Log out</a></li>
        </ul>
      </div>
      
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="formModal3" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="    background-color: black;">
      
          
      <div class="modal-body">
          

             <!--  tweet content -->
          <textarea
          class="tweet-textarea"
          placeholder="What's happening?"
          rows="3"
          [(ngModel)]="tweet.content"
          name="content"
          (input)="checkTweetContent()">
        </textarea>

          <!--  tweet picture Upload -->
          <div class="mb-3">
            <label for="profilePicture" class="form-label">Profile Picture</label>
            <input 
              type="file" 
              class="form-control" 
              id="profilePicture" 
              (change)="onFileSelected($event)">
            <div class="mt-2">
              <img 
                *ngIf="tweet?.mediaUrl" 
                [src]="tweet?.mediaUrl" 
                alt="Profile Picture Preview" 
                style="width: 100px; height: 100px; ">
            </div>
          </div>

          <button type="submit" class="btn btn-success w-100" [disabled]="!isTweetValid" (click)="saveTweet()" >Save Changes</button>
        
        
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
  </div>
</div>
















