<div class="sidebar d-flex flex-column p-3 text-white bg-black min-vh-100">
    <a href="/" class="d-flex justify-content-center align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="cus-mar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="25" fill="white">
            <path d="M23.5 0h-3.5l-8.08 9.67l-8.42-9.67h-3.5l8.88 10.13l-8.88 10.37h3.5l8.44-9.65l8.08 9.65h3.5l-8.88-10.35z"/>
        </svg>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="home" class="nav-link text-white" aria-current="page">
                <i class="fas fa-home fa-fw me-2"></i>
                <span>Home</span> <!-- Add span for text -->
            </a>
        </li>
        <li>
            <a href="profile" class="nav-link text-white">
                <i class="fas fa-user fa-fw me-2"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-bell fa-fw me-2"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-envelope fa-fw me-2"></i>
                <span>Messages</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-hashtag fa-fw me-2"></i>
                <span>Explore</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-cog fa-fw me-2"></i>
                <span>Settings</span>
            </a>
        </li>
        <li>
            <button class="btn btn-primary">Post</button>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/download.jpg" alt="User Name">
          <strong style="margin-left: 20px">Username</strong>
        </a>
      
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow cus-background" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
      
</div>
