/* You can add global styles to this file, and also import other style files */
 body {
    height: 100%; /* Ensure full height for body */
    margin: 0; /* Remove default margin */
    background-color: black ; /* Force body background to black */
    color: white; /* Set text color to white for contrast */
    font-family: 'Your Font Family', sans-serif; /* Optional: Customize font family */
}
.sidebar {
    width: 250px;
   
    height: 100%;
    background-color: #000; 
  }
  
  .sidebar a.nav-link {
    padding: 15px;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
  }
  img {
    border-radius: 50%;
    border: transparent solid;
    width: 40px;
    height: 40px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%; /* Full width on small screens */
    }
    .sidebar a {
      text-align: center;
      padding: 10px;
    }
  }
  
  .follow-section {
    background-color: inherit;
   
    padding: 15px; /* Padding inside the section */
    border: 1px solid rgb(74, 70, 70);
    border-radius: 15px;
    max-width: 350px;
  }
  
  .follow-section h5 {
    font-weight: bold; /* Bold title for the section */
  }
  
  .follow-section img {
    border-radius: 50%; /* Circular image */
  }
  
  .follow-section button:hover{
        
          color: white;
    background-color: black;
    border: 1px solid rgb(74, 70, 70);
  }

  .btn-follow{
    background-color: rgb(241, 237, 237);
    border: 1px  rgb(241, 237, 237) solid;
    border-radius: 30% ;
    color: black;
     width: 100px;
     height: 50px;
     text-align: center;
  }
  .btn-unfollow{

    color: white;
    background-color:black;
    border: 1px solid rgb(74, 70, 70);
    border-radius: 30% ;
     width: 100px;
     height: 50px;
     text-align: center;
  }

  .tabs{
    display: flex;
 height: 40px;
}
.tabs button{
    width: 50%;
    color: rgb(119, 111, 111);
    background-color: inherit;
    border: inherit;
  
    border-bottom: 1px solid rgb(74, 70, 70);
}
.tabs button:hover{
    background-color: rgb(38, 39, 40);
    transition: ease-in-out .2s;
}
.tabs > :first-child{
    border-right: 1px solid rgb(74, 70, 70);;
}
a{
 cursor:pointer; 
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);

}
.loading-indicator {
  position: relative;

 
  color: #fff;
  padding: 10px 20px;

  font-size: 14px;
  text-align: center;
}