
    <div class="tweet-container">
      <div class="tweet-header">
        <a href="#">
          <img src="{{tweet?.mediaUrl}}" alt="User Name" class="avatar">
          <strong style="margin-left: 10px">Username</strong>
        </a>
      </div>
      <div class="tweet-content">
        {{tweet?.content}}
      </div>
      <div class="tweet-img"*ngIf="tweet?.mediaUrl" >
        <img src="{{tweet?.mediaUrl}}" alt="User Name" style="width: 200px; height: 200px;">
      </div>
      <div class="tweet-actions">
        <div class="action">
          <i class="far fa-comment"></i> <span >12</span>
        </div>
        <div class="action">
          <i class="fas fa-retweet"></i> <span>8</span>
        </div>
        <div class="action">
          <i class="far fa-heart"></i> <span>35</span>
        </div>
        <div class="action">
          <i class="far fa-bookmark"></i>
        </div>
      </div>
      <hr />
    </div>
    

