
    <div class="tabs">
   <button (click)="goToFollowers()" #followersbtn>Followers</button>
      <button (click)="goToFollowees()"  #followeesbtn>Followees</button> 
    </div>

    <ul class="list-unstyled" style="margin:40px 20px">
      <li *ngFor="let user of followees" class="mb-3" style="display: flex;">
        <a (click)="goToProfile(user.id)" class="text-decoration-none text-dark d-flex align-items-center">
          <img [src]="user.profilePicture" alt="{{ user.userName }}" style="border-radius: 50%;">
          <div>
            <p class="mb-0 fw-bold" style="color:white;">{{ user.userName }}</p>
            <span class="cus-email">{{ user.email}}</span>
          </div>

        
        </a>

        <button 
        [ngClass]="isFollowed(user.id) ? 'btn-unfollow fw-bold ms-auto' : 'btn-follow fw-bold ms-auto'"
        (click)="checkFollow(user.id)">
        <span>{{ isFollowed(user.id) ? 'Unfollow' : 'Follow' }}</span>
      </button>
      </li>
      
    </ul>
  
  